@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case 4

   Survey Forms Style Sheet
   Author: Christian Gregorio
   Date:   1.22.19

   Filename: mc_styles.css

*/
/* 
This makes the background color a gradient which goes from blue to green.
*/
html {
    background: #0000d0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffffff, #0000d0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffffff, #0000d0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* 
Displays the nav links next to one another.
*/
nav ul li{
    display:block;
    float: left;
    width: 20%;
    text-align: center;
}

/* 
This centers the body and gives it a width smaller than the html, which makes the page have a background that doesn't affect the central information of the form.
*/
body {
    width: 80%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
}

/* 
For whatever reason, my code decided to break itself and omit some white from the body. So, I displayed everything in the body as white.
*/
body>* {
    background-color: #ffffffcc;
}

/* 
This displays the footer on its own with the text in the center of the screen.
*/
footer {
    text-align: center;
    clear: both;
}


