@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case 4

   Survey Forms Style Sheet
   Author: Christian Gregorio
   Date:   1.22.19

   Filename: mc_styles.css

*/
/* 
This makes the background color a gradient which goes from blue to green.
*/
html {
    background: #283c86;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #283c86, #45a247);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #283c86, #45a247);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* 
This centers the body and gives it a width smaller than the html, which makes the page have a background that doesn't affect the central information of the form.
*/
body {
    width: 80%;
    margin: 0 auto;
    background: white;
}